

<div style="margin-left: 30%; margin-top: 10%;" >
    <h1 style="padding-left: 5%;">Data Manager Login</h1>
    
    
    <form>
    <div class="form-group" style="width: 30%;padding-left: 6%; ">
        <label >Username</label>
    <input type="text"  class="form-control" id="exampleInputEmail1" placeholder="Enter username" name="username"  [(ngModel)]="username"#tx1 >
    
</div>

<div class="form-group" style="width: 30%;padding-left: 6%; ">
    <label>Password</label>
   <input type="password"  class="form-control" placeholder="Enter password" name="upasswd" [(ngModel)]="upasswd">
</div>

   <input type="submit" style="background-color: palevioletred; margin-left: 6%; " class="btn btn-primary" value="login" (click)="getValidation(tx1)">
   
    </form>
    <br>
    <div style="padding-left: 6%;"><b>{{msg}}</b></div>
</div>
    
    
     
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>   
<br><br>
<br><br>
<br><br>