


<h2>Welcome Manager</h2>
<form>
<input type="submit" style="background-color: palevioletred; float: right;" class="btn btn-primary" value="logout" (click)="homelogout()">

 </form>
<div style="float: left;" class="btn-group-vertical">
    <h5>Prisoner Database</h5>
<button class="btn btn-primary" (click)="viewPrisonerData()">Prioners Data</button>
<button class="btn btn-primary" (click)="addPrisonerData()">Register Prisoner</button>
<button class="btn btn-info" (click)="editPrisonerData()">Update Prisoner Data</button>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;
<div class="btn-group-vertical">
    <h5>In-Out-Register</h5>
    <button class="btn btn-primary" (click)="viewInOutData()">In-Out-Data</button>
<button class="btn btn-primary" (click)="addInOutData()">Register In-Out-Data</button>
<button class="btn btn-primary" (click)="editInOutData()">Update In-Out-Data</button>

</div>
&nbsp;&nbsp;&nbsp;&nbsp;
<div class="btn-group-vertical">
    <h5>Duty-Register</h5>
    <button class="btn btn-primary" (click)="viewDutyRegister()">Duty-Register-Data</button>
<button class="btn btn-primary" (click)="addDutyRegister()">Add-Duty-Register</button>
<button class="btn btn-primary" (click)="editDutyRegister()">Update-Duty-Register</button>

</div>
&nbsp;&nbsp;&nbsp;&nbsp;
<div class="btn-group-vertical">
    <h5>Payroll-Register</h5>
    <button class="btn btn-primary" (click)="viewPayrollRegister()">Payroll-Register-Data</button>
<button class="btn btn-primary" (click)="addPayrollRegister()">Add-Payroll-Register</button>
<button class="btn btn-primary" (click)="editPayrollRegister()">Update Payroll-Register</button>

</div>