<h2>Welcome Manager</h2>
<div>
    <h5>Prisoner Database</h5>
<button (click)="viewPrisonerData()">Prioners Data</button>
<button (click)="addPrisonerData()">Register Prisoner</button>
<button (click)="editPrisonerData()">Update Prisoner Data</button>
</div>
<div>
    <h5>In-Out-Register</h5>
    <button (click)="viewInOutData()">In-Out-Data</button>
<button (click)="addInOutData()">Register In-Out-Data</button>
<button (click)="editInOutData()">Update In-Out-Data</button>

</div>
<div>
    <h5>Duty-Register</h5>
    <button (click)="viewDutyRegister()">Duty-Register-Data</button>
<button (click)="addDutyRegister()">Add-Duty-Register</button>
<button (click)="editDutyRegister()">Update-Duty-Register</button>

</div>
<div>
    <h5>Payroll-Register</h5>
    <button (click)="viewPayrollRegister()">Payroll-Register-Data</button>
<button (click)="addPayrollRegister()">Add-Payroll-Register</button>
<button (click)="editPayrollRegister()">Update Payroll-Register</button>

</div>