
<div>
  <br>
<h1>Cell Details</h1>
<div style="float: right; padding: 0%;margin-bottom: 10px;"><button  class="btn btn-outline-secondary" (click)="backtoadmin()">Back To Admin</button></div>
<div class="container-fluid">
  <table class="table table-sm">
    <tr class="table-dark">
    <th scope="col">Cell Number</th>
    <th scope="col">PrisonerId</th>
    <th scope="col">FirstName</th>
    <th scope="col">LastName</th>
    <th scope="col">MiddleName</th>
  </tr>
  <tr *ngFor="let p of pris"class="table-warning">
    <td>{{ p.cellNumber }}</td>
    <td>{{ p.pid }}</td>
    <td>{{ p.firstName }}</td>
    <td>{{ p.lastName }}</td>
    <td>{{ p.middleName }}</td>
  </tr>
</table>
<br>
<button (click)="back()" class="btn btn-info">Back</button>
</div>