<h3 style="color: plum;">ALL Pay Roll</h3>

<table class="table">
  
  <tr>
    
    <th>UserName</th>
    <th>Pay Roll Id</th>
    <th>Name</th>
    <th>Regular Salary</th>
    <th>Part Time Salary</th>
    <th>Annual Salary</th>
  </tr>
  
  <tr *ngFor="let p of pay">
    <td>{{p.userName}}</td>
    <td>{{p.pid}}</td>
    <td>{{p.name}}</td>
    <td>{{p.regularSalary}}</td>
    <td>{{p.partTimeSalary}}</td>
    <td>{{p.annualSalary}}</td>
    <td>
      <button class="btn btn-secondary" (click)="editPayRoll(p.userName)">EDIT</button>
    </td>
  </tr>
</table>
{{ message.message }}

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>