<div>
<br>
<h3> Update In-Out Register</h3> 
<div style="float: right; padding: 0%;margin: 0%;"><button  class="btn btn-outline-secondary" (click)="backtoadmin()">Back To Admin</button></div>
<div class="form-group">
<form (ngSubmit)="updateInOut()"[formGroup]="myform"> 
    <label> SI NO :</label>
    <input type="number"class="form-control" [(ngModel)]="inout.siNo" name="siNo"formControlName="siNo"/>
    <span class="error" *ngIf="myform.controls?.['siNo']?.touched && myform.controls?.['siNo']?.invalid
    && myform.controls?.['siNo']?.hasError('required')">siNo Cannot be Blank</span>
   
    <span class="error" *ngIf="myform.controls?.['siNo']?.touched && myform.controls?.['siNo']?.invalid
    && myform.controls?.['siNo']?.hasError('pattern')">Numbers Only Allowed</span>

    <br>
    <label> Date : </label>
   <input type="date"class="form-control" [(ngModel)]="inout.date" name="date"formControlName="date"/>
   <span class="error" *ngIf="myform.controls?.['date']?.touched && myform.controls?.['date']?.invalid
   && myform.controls?.['date']?.hasError('required')">date Cannot be Blank</span> 

   <br>
    <label>Name : </label>
    <input type="text"class="form-control" [(ngModel)]="inout.name" name="name"formControlName="name"/> 
    <span class="error" *ngIf="myform.controls?.['name']?.touched && myform.controls?.['name']?.invalid
    && myform.controls?.['name']?.hasError('required')">name Cannot be Blank</span>
   
    <span class="error" *ngIf="myform.controls?.['name']?.touched && myform.controls?.['name']?.invalid
    && myform.controls?.['name']?.hasError('minlength')">Min 3 characters</span>
   
    <span class="error" *ngIf="myform.controls?.['name']?.touched && myform.controls?.['name']?.invalid
    && myform.controls?.['name']?.hasError('maxlength')">Max 20 characters</span>
   
    <span class="error" *ngIf="myform.controls?.['name']?.touched && myform.controls?.['name']?.invalid
    && myform.controls?.['name']?.hasError('pattern')">Alphabets Only Allowed</span>

    <br>
    <label> Department : </label>
   <input type="text" class="form-control" [(ngModel)]="inout.dept" name="dept"formControlName="dept"/> 
   <span class="error" *ngIf="myform.controls?.['dept']?.touched && myform.controls?.['dept']?.invalid
   && myform.controls?.['dept']?.hasError('required')">dept Cannot be Blank</span>
  
   <span class="error" *ngIf="myform.controls?.['dept']?.touched && myform.controls?.['dept']?.invalid
   && myform.controls?.['dept']?.hasError('pattern')">Alphabets Only Allowed</span>

   <br>
    <label>Purpose : </label>
    <input type="text" class="form-control" [(ngModel)]="inout.purpose" name="purpose"formControlName="purpose"/>
    <span class="error" *ngIf="myform.controls?.['purpose']?.touched && myform.controls?.['purpose']?.invalid
    && myform.controls?.['purpose']?.hasError('required')">purpose Cannot be Blank</span> 

    <br>
    <label>Time In : </label>
    <input type="time" class="form-control" [(ngModel)]="inout.timeIn" name="timeIn"formControlName="timeIn"/> 
    <span class="error" *ngIf="myform.controls?.['timeIn']?.touched && myform.controls?.['timeIn']?.invalid
    && myform.controls?.['timeIn']?.hasError('required')">timeIn Cannot be Blank</span>

    <br>
    <label> Time Out : </label>
    <input type="time" class="form-control" [(ngModel)]="inout.timeOut" name="timeOut"formControlName="timeOut"/> 
    <span class="error" *ngIf="myform.controls?.['timeOut']?.touched && myform.controls?.['timeOut']?.invalid
    && myform.controls?.['timeOut']?.hasError('required')">timeOut Cannot be Blank</span>

    <br>
    <label> Digital Signature :</label>
     <input type="text" class="form-control" [(ngModel)]="inout.dsignature" name="dsignature"formControlName="dsignature"/>
     <span class="error" *ngIf="myform.controls?.['dsignature']?.touched && myform.controls?.['dsignature']?.invalid
     && myform.controls?.['dsignature']?.hasError('required')">dsignature Cannot be Blank</span>
     
     <br>

<input type="submit" value="Update" [disabled]="myform.invalid" class="btn btn-success"/> <br>
</form> 
<br>
<button (click)="back()" class="btn btn-info">Back</button>
</div> 
</div>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>