
<div>
<button class="btn btn-info" (click)="searchPrisonerData()">Search Prisoner Data</button>
</div>
<h1>All Prisoners Details</h1>
<table border="1"class="table-active">
    <tr>
        <th scope="col">PrisonerId </th>
        <th scope="col">FirstName </th>
        <th scope="col">LastName </th>
        <th scope="col">MiddleName </th>
        <th scope="col">DateOfBirth </th>
        <th scope="col"> Gender</th>
        <th scope="col">Age</th>
        <th scope="col">Address</th>
        <th scope="col">DateOfArrest</th>
        <th scope="col">CrimeType</th>
        <th scope="col">EyeWitness</th>
        <th scope="col">WitnessAddress</th>
        <th scope="col">ComplaintCount</th>
        <th scope="col">EyeColor</th>
        <th scope="col">HairColor</th>
        <th scope="col">FaceShape</th>
        <th scope="col">RemandDate</th>
        <th scope="col">ReleaseDate</th>
        <th scope="col">CourtHearing</th>
        <th scope="col" >Cell Number</th>
        <th scope="col">Operations</th>
    </tr>
    
    <tr *ngFor="let p of prisoner">
        <td scope="row">{{p.pid}}</td>
        <td scope="row">{{p.firstName}}</td>
        <td scope="row">{{p.lastName}}</td>
        <td scope="row">{{p.middleName}}</td>
        <td scope="row">{{p.dateOfBirth}}</td>
        <td scope="row">{{p.gender}}</td>
        <td scope="row">{{p.age}}</td>
        <td scope="row">{{p.address}}</td>
        <td scope="row">{{p.dateOfArrest}}</td>
        <td scope="row">{{p.crimeType}}</td>
        <td scope="row">{{p.eyeWitness}}</td>
        <td scope="row">{{p.witnessAddress}}</td>
        <td scope="row">{{p.complaintCount}}</td>
        <td scope="row">{{p.eyeColor}}</td>
        <td scope="row">{{p.hairColor}}</td>
        <td scope="row">{{p.faceShape}}</td>
        <td scope="row">{{p.remandDate}}</td>
        <td scope="row">{{p.releaseDate}}</td>
        <td scope="row">{{p.courtHearing}}</td>
        <td scope="row">{{p.cellNumber}}</td>
        <td scope="row"><button style="width: fit-content;" class="btn btn-secondary" (click)="editDetails(p.pid)">EDIT</button></td>

    </tr>
</table>

