<div>
<h2>Admin Police PayRoll search</h2>
<div style="float: right; padding: 0%;margin: 0%;"><button  class="btn btn-outline-secondary" (click)="backtoadmin()">Back To Admin</button></div>
<input
  type="text"class="form-control" style="width: 450px;"
  placeholder="Enter Username to get Payroll Details of Employee"
  name="un"
  [(ngModel)]="un"
  (click)="grtOne()"/>

  <button class="btn btn-info" (click)="grtOne()">
    Search<span class="spinner-grow spinner-grow-sm"></span>
</button>
<br>
<br>
<div class="table-responsive">
<table class="table table-hover">
  <tr class="table-primary">
    <th scope="col">User Name</th>
    <th scope="col">Password</th>
    <th scope="col">Police Id</th>
    <th scope="col">Name</th>
    <th scope="col">Designation</th>
    <th scope="col">Hire Date</th>
    <th scope="col">Email</th>
    <th scope="col">Address</th>
    <th scope="col">PayRoll Id</th>
    <th scope="col">Regular Salary</th>
    <th scope="col">Part Time Salary</th>
    <th scope="col">Annual Salary</th>
  </tr>
  <tr class="table-active">
    <td>{{ rpp.police.userName }}</td>
    <td>{{ rpp.police.password }}</td>
    <td>{{ rpp.police.id }}</td>
    <td>{{ rpp.police.name }}</td>
    <td>{{ rpp.police.designation }}</td>
    <td>{{ rpp.police.hiredate }}</td>
    <td>{{ rpp.police.email }}</td>
    <td>{{ rpp.police.address }}</td>
    <td>{{ rpp.payroll.pid }}</td>
    <td>{{ rpp.payroll.regularSalary }}</td>
    <td>{{ rpp.payroll.partTimeSalary }}</td>
    <td>{{ rpp.payroll.annualSalary }}</td>
  </tr>
</table>
</div>
<br>
<button class="btn btn-info btn-sm" (click)="back()">Back</button>
</div>

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>