<h3>data-managers Register</h3> 
<form (ngSubmit)="createDataManager()"> 

    DataManager User Name : <input type="text" [(ngModel)]="datman.userName" name="userName"/>  
    password : <input type="text" [(ngModel)]="datman.password" name="password"/>  
    ID : <input type="text"  [(ngModel)]="datman.id" name="id"/> 
    Name : <input type="text" [(ngModel)]="datman.name" name="name"/>  
    Designation : <input type="text"  [(ngModel)]="datman.designation" name="designation"/> 
    Hire Date : <input type="text"  [(ngModel)]="datman.hiredate" name="hiredate"/> 
    Email : <input type="text"  [(ngModel)]="datman.email" name="email"/>  
    Address : <input type="text"  [(ngModel)]="datman.address" name="address"/>  

<input type="submit" value="Register"/> 
</form> 
{{message.message}} 