<h3>data-managers Register</h3> 
<form (ngSubmit)="createDataManager()"> 

Police User Name : <input type="text" [(ngModel)]="datman.userName" name="userName"/>  
password : <input type="text" [(ngModel)]="datman.password" name="password"/>  
Name : <input type="text" [(ngModel)]="datman.name" name="name"/>  
Email : <input type="text"  [(ngModel)]="datman.email" name="email"/>  
Address : <input type="text"  [(ngModel)]="datman.address" name="address"/>  

<input type="submit" value="Register"/> 
</form> 
{{message.message}} 