<br>
<br><br><br>


    <div class="container" style="border: 2px solid rgba(2, 0, 0, 0.089); width: 450px; background-color: #9AB8DB; ">
        <br><br>
        <h2 style="margin-left: 15px;">ADMINISTRATOR LOGIN</h2>
        <br><br>
        <form>
            <label>Username :</label>
            <input type="text" name="username" [(ngModel)]="username" #tx1>
            <br><br>
            <label>Password :</label>
            <input type="password" name="upasswd" [(ngModel)]="upasswd">
            <br><br>
            <input style="width: 150px; margin-left: 120px;" class="btn btn-secondary " type="submit" value="Log In" (click)="getValidation(tx1)">
        </form>
        <hr>
        <div>{{msg}}</div>
        <br><br><br>
    </div>
<br><br>
