<h2>Welcome Admin</h2>

<div style="float: left;">
<button (click)="viewPolice()">view police</button>
<button (click)="addPolice()">Add police</button>
<button (click)="editPolice()">Edit police</button>
<button (click)="viewDataManager()">view DataManager</button>
<button (click)="addDataManager()">Add DataManager</button>
<button (click)="editDataManager()">Edit DataManager</button>
</div>
<div style="float: right;">
    <button (click)="viewInOutReg()">view Inout Register</button>
    <button (click)="addInOutReg()">Add Inout Register</button>
    <button (click)="editInOutReg()">Edit Inout Register</button>
</div>
<br>
<hr>
<div>
    <button (click)="viewPrisonerReg()">view Prisoner Register</button>
    <button (click)="addPrisonerReg()">Add Prisoner Register</button>
    <button (click)="editPrisonerReg()">Edit Prisoner Register</button> 
</div>
<div>
    <button (click)="viewCell()">view Cell</button>
    <button (click)="viewCaseReg()">view Case Register</button>
</div>
<div>
    <button (click)="viewPayReg()">view Pay Roll Register</button>
    <button (click)="addPayReg()">Add Pay Roll Register</button>
    <button (click)="editPayReg()">Edit Pay Roll Register</button> 
</div>
<div>
    <button (click)="policepay()">view PolicePAy Register</button>
    
</div>
<div>
    <button (click)="viewDutyReg()">view Duty Register</button>
    <button (click)="addDutyReg()">Add Duty Register</button>
    <button (click)="editDutyReg()">Edit Duty Register</button> 
</div>