<div>
    <br>
    <h2>Welcome Admin</h2>
</div>
<div id="logout-btn" (click)="homelogout()"><button class="btn btn-danger" (click)="homelogout()">Log Out</button></div>
<br>
<hr>
<div style="border: 1px dotted black;">
    <pre>                     <h3>Police And DataManager Operations </h3></pre>
    <div style="float: left; border: 2px solid red;">
        <div class="btn-group-vertical-lg" style="float: left; padding: 5px;">



            <button (click)="viewDataManager()" class="btn btn-info">view DataManager</button>&nbsp;
            <button (click)="addDataManager()" class="btn btn-info">Add DataManager</button>&nbsp;
            <button (click)="editDataManager()" class="btn btn-info">Edit DataManager</button>
        </div>
        <br><br>

        <div class="btn-group-vertical-lg" style="left: right;padding: 5px;">
            <button (click)="viewPolice()" class="btn btn-info">view police</button>&nbsp;
            <button (click)="addPolice()" class="btn btn-info">Add police</button>&nbsp;
            <button (click)="editPolice()" class="btn btn-info">Edit police</button>


        </div>
        <div class="btn-group-vertical-lg" style="float:left;padding: 5px;">
            <button (click)="PoliceSearch()" class="btn btn-info">Search police</button>&nbsp;
            <button (click)="DataManagerSearch()" class="btn btn-info">Search DataManager</button>

        </div>


    </div>
    <h5></h5>

    <div style="float: right; border: 2px solid red;">

        <div class="btn-group-vertical-lg" style="float: left;padding: 5px;">
            <button (click)="viewPrisonerReg()" class="btn btn-info">view Prisoner Register</button>&nbsp;
            <button (click)="addPrisonerReg()" class="btn btn-info">Add Prisoner Register</button>&nbsp;
            <button (click)="editPrisonerReg()" class="btn btn-info">Edit Prisoner Register</button>
        </div>
        <div class="btn-group-vertical" style="float: left;padding: 5px;">
            <button (click)="SearchPrisonerReg()" class="btn btn-info">Search Prisoner Register</button>
        </div>
        <br>
        <div class="btn-group-vertical-lg" style="float: left;padding: 5px;">
            <button (click)="viewInOutReg()" class="btn btn-info">view Inout Register</button>&nbsp;
            <button (click)="addInOutReg()" class="btn btn-info">Add Inout Register</button>&nbsp;
            <button (click)="editInOutReg()" class="btn btn-info">Edit Inout Register</button>
        </div>
        <div class="btn-group-vertical" style="float: left;padding: 5px;">
            <button (click)="SearchInOutReg()" class="btn btn-info">Search Inout Register</button>
        </div>
        <br>
        <div class="btn-group-vertical-lg" style="float: left;padding: 5px;">
            <button (click)="viewPayReg()" class="btn btn-info">view Pay Roll Register</button>&nbsp;
            <button (click)="addPayReg()" class="btn btn-info">Add Pay Roll Register</button>&nbsp;
            <button (click)="editPayReg()" class="btn btn-info">Edit Pay Roll Register</button>
        </div>
        <br>
        <div class="btn-group-vertical-lg" style="float: left;padding: 5px;">
            <button (click)="viewCell()" class="btn btn-info">view Cell</button>&nbsp;
            <button (click)="viewCaseReg()" class="btn btn-info">view Case Register</button>
        </div>
        <br>
        <div class="btn-group-vertical-lg" style="float: left;padding: 5px;">
            <button (click)="viewDutyReg()" class="btn btn-info">view Duty Register</button>&nbsp;
            <button (click)="addDutyReg()" class="btn btn-info">Add Duty Register</button>&nbsp;
            <button (click)="editDutyReg()" class="btn btn-info">Edit Duty Register</button>
        </div>

        <div class="btn-group-vertical" style="float: left;padding: 5px;">
            <!-- <button (click)="policepay()" class="btn btn-info">PayRoll For Police</button>-->
            <button (click)="policepaySearch()" class="btn btn-info"> PayRoll Each Police</button>
            <!--  <button (click)="datpay()" class="btn btn-info">PayRoll For DataManager</button> -->
            <button (click)="datpaySearch()" class="btn btn-info"> PayRoll Each DataManager</button>
        </div>


        <br>
        <div class="btn-group-vertical" style="float: left;padding: 5px;">
            <button (click)="PoliceDutyEachSearch()" class="btn btn-info">Duty For Police</button>
            <button (click)="DataManagerDutyEachSearch()" class="btn btn-info">Duty For DataManager</button>
        </div>



        <div class="btn-group-vertical" style="float: left;padding: 5px;">
            <button (click)="PrisonerReport()" class="btn btn-info">Admin Prisoner Report</button>
        </div>

        <div class="btn-group-vertical" style="float: left;padding: 5px;">
            <button (click)="AutomatedReleaseRegister()" class="btn btn-info">Automated Release Register</button>
        </div>

        <div class="btn-group-vertical" style="float: left;padding: 5px;">
            <button (click)="fir()" class="btn btn-info">FIR</button>
        </div>

    </div>
</div>