<div>
  <br>
  <h3>ALL FIR</h3>
  <div style="float: right; padding: 0%;margin-bottom: 10px;"><button class="btn btn-outline-secondary"
      (click)="backtoadmin()">Back To Admin</button></div>
  <br>
  <br>
  <div>
    <div style="float: left;">
      <h3>FIR Register</h3>
      <br>

      <form (ngSubmit)="createFIR()"[formGroup]="myform">
        <div class="form-group">
          Complaint Number : <input type="text" class="form-control" [(ngModel)]="firc.complaintNumber"name="complaintNumber" formControlName="complaintNumber" />
          <span class="error" *ngIf="myform.controls?.['complaintNumber']?.touched && myform.controls?.['complaintNumber']?.invalid
          && myform.controls?.['complaintNumber']?.hasError('required')">complaintNumber Cannot be Blank</span>
         
          <span class="error" *ngIf="myform.controls?.['complaintNumber']?.touched && myform.controls?.['complaintNumber']?.invalid
          && myform.controls?.['complaintNumber']?.hasError('pattern')">Alphabets & Numbers Only Allowed</span>
         

          <br>
          Victim Name/Name of the person making the complaint : <input type="text" class="form-control"[(ngModel)]="firc.victimName" name="victimName" formControlName="victimName" />
          <span class="error" *ngIf="myform.controls?.['victimName']?.touched && myform.controls?.['victimName']?.invalid
          && myform.controls?.['victimName']?.hasError('required')">victimName Cannot be Blank</span>
         
          <span class="error" *ngIf="myform.controls?.['victimName']?.touched && myform.controls?.['victimName']?.invalid
          && myform.controls?.['victimName']?.hasError('minlength')">Min 3 characters</span>
         
          <span class="error" *ngIf="myform.controls?.['victimName']?.touched && myform.controls?.['victimName']?.invalid
          && myform.controls?.['victimName']?.hasError('maxlength')">Max 20 characters</span>
         
          <span class="error" *ngIf="myform.controls?.['victimName']?.touched && myform.controls?.['victimName']?.invalid
          && myform.controls?.['victimName']?.hasError('pattern')">Alphabets Only Allowed</span>
         



          <br>
          Offence Description : <input type="text" class="form-control" [(ngModel)]="firc.offence" name="offence" formControlName="offence" />
          <span class="error" *ngIf="myform.controls?.['offence']?.touched && myform.controls?.['offence']?.invalid
          && myform.controls?.['offence']?.hasError('required')">offence Cannot be Blank</span>
         

          <br>
          Time Of Crime : <input type="time" class="form-control" [(ngModel)]="firc.timeOfCrime" name="timeOfCrime" formControlName="timeOfCrime" />
          <span class="error" *ngIf="myform.controls?.['timeOfCrime']?.touched && myform.controls?.['timeOfCrime']?.invalid
          && myform.controls?.['timeOfCrime']?.hasError('required')">timeOfCrime Cannot be Blank</span>
         

          <br>
          Date Of Crime : <input type="date" class="form-control" [(ngModel)]="firc.dateOfCrime" name="dateOfCrime" formControlName="dateOfCrime" />
          <span class="error" *ngIf="myform.controls?.['dateOfCrime']?.touched && myform.controls?.['dateOfCrime']?.invalid
          && myform.controls?.['dateOfCrime']?.hasError('required')">dateOfCrime Cannot be Blank</span>
         

          <br>
          Place Of Crime : <input type="text" class="form-control" [(ngModel)]="firc.placeOfCrime" name="placeOfCrime" formControlName="placeOfCrime" />
          <span class="error" *ngIf="myform.controls?.['placeOfCrime']?.touched && myform.controls?.['placeOfCrime']?.invalid
          && myform.controls?.['placeOfCrime']?.hasError('required')">placeOfCrime Cannot be Blank</span>
         

          <br>
          Witness Statement : <input type="text" class="form-control" [(ngModel)]="firc.witnessStatement"name="witnessStatement" formControlName="witnessStatement" />
          <span class="error" *ngIf="myform.controls?.['witnessStatement']?.touched && myform.controls?.['witnessStatement']?.invalid
          && myform.controls?.['witnessStatement']?.hasError('required')">witnessStatement Cannot be Blank</span>
         

          <br>
          Culprit Name : <input type="text" class="form-control" [(ngModel)]="firc.culpritName" name="culpritName" formControlName="culpritName"/>
          <span class="error" *ngIf="myform.controls?.['culpritName']?.touched && myform.controls?.['culpritName']?.invalid
          && myform.controls?.['culpritName']?.hasError('required')">culpritName Cannot be Blank</span>
         
          <span class="error" *ngIf="myform.controls?.['culpritName']?.touched && myform.controls?.['culpritName']?.invalid
          && myform.controls?.['culpritName']?.hasError('minlength')">Min 3 characters</span>
         
          <span class="error" *ngIf="myform.controls?.['culpritName']?.touched && myform.controls?.['culpritName']?.invalid
          && myform.controls?.['culpritName']?.hasError('maxlength')">Max 20 characters</span>
         
          <span class="error" *ngIf="myform.controls?.['culpritName']?.touched && myform.controls?.['culpritName']?.invalid
          && myform.controls?.['culpritName']?.hasError('pattern')">Alphabets Only Allowed</span>
          <br>

          <br>
          <input type="submit" value="Register"  class="btn btn-success" /> <br>
          {{ message.message }}
        </div>
      </form>
    </div>

    
  <br>
  <br>

  <br>
  
  <div style="float: left;">
    <div>
      <br>
      <h2>List All</h2>
      <br>
    </div>
    <div class="table-responsive"id="print-section">
      <table class="table table-bordered">
        <tr class="table-info">
          <th scope="col">Complaint Number</th>
          <th scope="col">Victim Name/NAme of the person making the complaint</th>
          <th scope="col">Offence Description</th>
          <th scope="col">Time Of Crime</th>
          <th scope="col">Date Of Crime</th>
          <th scope="col">Place Of Crime</th>
          <th scope="col">Witness Statement</th>
          <th scope="col">Culprit Name</th>
          <th scope="col">Operations</th>
        </tr>
        <tr *ngFor="let f of fir" class="table-active">
          <td>{{ f.complaintNumber }}</td>
          <td>{{ f.victimName }}</td>
          <td>{{ f.offence }}</td>
          <td>{{ f.timeOfCrime }}</td>
          <td>{{ f.dateOfCrime }}</td>
          <td>{{ f.placeOfCrime }}</td>
          <td>{{ f.witnessStatement }}</td>
          <td>{{ f.culpritName }}</td>
          <td>
            <button class="btn btn-danger" style="color: black;" (click)="alertConfirmation(f.complaintNumber)">
              <i class="fa-solid fa-trash-can"></i>
            </button>

          </td>
        </tr>
      </table>
    </div>

  
<button  class="btn btn-light"
printTitle="FIR List"  
[useExistingCss]="true"
printSectionId="print-section"  
ngxPrint style="margin-left: 600px;"><i class="fa-solid fa-print fa-3x"></i></button>
  </div>
</div>

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>