<div>
  <br>
<h3>Duty Register</h3>
<div style="float: right; padding: 0%;margin-bottom: 10px;"><button  class="btn btn-outline-secondary" (click)="backtoadmin()">Back To Admin</button></div>
<table class="table table-sm">
  <tr class="table-dark">
    <th scope="col"><input type="button" class="btn btn-outline-light text-dark"value="userName" (click)="onSortClickUn()"></th>
    <th scope="col"><input type="button"class="btn btn-outline-light text-dark" value="date" (click)="onSortClickDt()"></th>
    <th scope="col"><input type="button" class="btn btn-outline-light text-dark"value="timeOnDuty" (click)="onSortClickTd()"></th>
    <th scope="col"><input type="button"class="btn btn-outline-light text-dark" value="Name" (click)="onSortClickNm()"></th>
    <th scope="col"><input type="button"class="btn btn-outline-light text-dark" value="dutyPoint" (click)="onSortClickDp()"></th>
    <th scope="col"><input type="button"class="btn btn-outline-light text-dark" value="timeOffDuty" (click)="onSortClickTod()"></th>
    <th scope="col"><input type="button"class="btn btn-outline-light text-dark-disable" value="Operations"></th>
  </tr>
  <tr *ngFor="let p of datman"class="table-warning">
    <td>{{ p.userName }}</td>
    <td>{{ p.date }}</td>
    <td>{{ p.timeOnDuty}}</td>
    <td>{{ p.name}}</td>
    <td>{{ p.dutyPoint }}</td>
    <td>{{ p.timeOffDuty }}</td>
    <td>
      <button class="btn btn-danger" style="color: black;"   (click)="deleteDutyRegister(p.userName)">
        DELETE
      </button>
      &nbsp;&nbsp;
      <button class="btn btn-info" (click)="editDutyRegister(p.userName)">EDIT</button>
    </td>
  </tr>
</table>
{{ message.message }}
<br>
<button class="btn btn-info btn-sm" (click)="back()">Back</button>
</div>