<h3 style="color: plum;">Pay Roll Register</h3> 
<form (ngSubmit)="createPayRoll()"> 
    <div class="form-group">
        <label>User Name </label>
       <input type="text" class="form-control" style="width: 40%;" [(ngModel)]="pay.userName" name="userName"/>   
       </div>
       <div class="form-group">
        <label>Pay Roll Id  </label>
       <input type="text" class="form-control" style="width: 40%;"  [(ngModel)]="pay.pid" name="pid"/>    
       </div>
       <div class="form-group">
        <label>Name  </label>
       <input type="text" class="form-control" style="width: 40%;" [(ngModel)]="pay.name" name="name"/>   
       </div>
       <div class="form-group">
        <label>Regular Salary </label>
       <input type="text" class="form-control" style="width: 40%;" [(ngModel)]="pay.regularSalary" name="regularSalary"/>   
       </div>
       <div class="form-group">
        <label>Part Time Salary </label>
       <input type="text" class="form-control" style="width: 40%;" [(ngModel)]="pay.partTimeSalary" name="partTimeSalary"/>   
       </div>
       <div class="form-group">
        <label>Annual Salary </label>
       <input type="text" class="form-control" style="width: 40%;" [(ngModel)]="pay.annualSalary" name="annualSalary"/>  
       </div>
    
    
     

<input type="submit" class="btn btn-primary" style="background-color: palevioletred;" value="Register"/> 
</form> 
{{message.message}}


