
<h2>Admin DataManager Duty search</h2>

<input
  type="text"
  placeholder="Enter Username to get Duty Details of Employee"
  name="un"
  [(ngModel)]="un"
  (click)="grtOne()"
/><button (click)="grtOne()">click</button>
<br>
<br>

<table border="2">
  <tr>
    <td>User Name</td>
    <td>Password</td>
    <td>DataManager Id</td>
    <td>Name</td>
    <td>Designation</td>
    <td>Hire Date</td>
    <td>Email</td>
    <td>Address</td>
    <td>Date</td>
    <td>Time On Duty</td>
    <td>Duty Point</td>
    <td>Time Off Duty</td>
  </tr>
  <tr>
    <td>{{ rpp.police.userName }}</td>
    <td>{{ rpp.police.password }}</td>
    <td>{{ rpp.police.id }}</td>
    <td>{{ rpp.police.name }}</td>
    <td>{{ rpp.police.designation }}</td>
    <td>{{ rpp.police.hiredate }}</td>
    <td>{{ rpp.police.email }}</td>
    <td>{{ rpp.police.address }}</td>
    <td>{{ rpp.duty.date }}</td>
    <td>{{ rpp.duty.timeOnDuty }}</td>
    <td>{{ rpp.duty.dutyPoint }}</td>
    <td>{{ rpp.duty.timeOffDuty }}</td>
  </tr>
</table>
