<h1>All Prisoners Details</h1>
<div style="float: right; padding: 0%;margin-bottom: 10px;"><button  class="btn btn-outline-secondary" (click)="backtoadmin()">Back To Admin</button></div>

<div class="form-group">
  <label for="sel1">Sort:</label>
<select  class="form-control" style="width: 20%;"  [(ngModel)]="sortColumn">
  <option>pid</option>
  <option>firstName</option>
  <option>dateOfBirth</option>
  <option>gender</option>
  <option>age</option>
  <option>address</option>
  <option>caseId</option>
  <option>crimeType</option>
  <option>eyeWitness</option>
  <option>witnessAddress</option>
  <option>complaintCount</option>
  <option>remandDate</option>
  <option>releaseDate</option>
  <option>courtHearing</option>
  <option>cellNumber</option>
</select>
</div>
<label for="sel1">Order:</label>
<select class="form-control" style="width: 20%;" [(ngModel)]="order">
  <option value="1">Ascending Order</option>
  <option value="-1">Descending Order</option>
</select>
<button class="btn btn-info" value="sort" (click)="onSortClick()">
  Search<span class="spinner-grow spinner-grow-sm"></span>
  
</button>

<table class="table table-sm">
  <tr class="table-info">
    <th scope="col">PrisonerId</th>
    <th scope="col">FirstName</th>
    <th scope="col">LastName</th>
    <th scope="col">MiddleName</th>
    <th scope="col">DateOfBirth</th>
    <th scope="col">Gender</th>
    <th scope="col">Age</th>
    <th scope="col">Address</th>
    <th scope="col">DateOfArrest</th>
    <th scope="col">Case Id</th>
    <th scope="col">CrimeType</th>
    <th scope="col">EyeWitness</th>
    <th scope="col">WitnessAddress</th>
    <th scope="col">ComplaintCount</th>
    <th scope="col">EyeColor</th>
    <th scope="col">HairColor</th>
    <th scope="col">FaceShape</th>
    <th scope="col">RemandDate</th>
    <th scope="col">ReleaseDate</th>
    <th scope="col">CourtHearing</th>
    <th scope="col">Cell Number</th>
    <th scope="col">Operations</th>
  </tr>

  <tr *ngFor="let p of pris" class="table-active">
    <td>{{ p.pid }}</td>
    <td>{{ p.firstName }}</td>
    <td>{{ p.lastName }}</td>
    <td>{{ p.middleName }}</td>
    <td>{{ p.dateOfBirth }}</td>
    <td>{{ p.gender }}</td>
    <td>{{ p.age }}</td>
    <td>{{ p.address }}</td>
    <td>{{ p.dateOfArrest }}</td>
    <td>{{ p.caseId }}</td>
    <td>{{ p.crimeType }}</td>
    <td>{{ p.eyeWitness }}</td>
    <td>{{ p.witnessAddress }}</td>
    <td>{{ p.complaintCount }}</td>
    <td>{{ p.eyeColor }}</td>
    <td>{{ p.hairColor }}</td>
    <td>{{ p.faceShape }}</td>
    <td>{{ p.remandDate }}</td>
    <td>{{ p.releaseDate }}</td>
    <td>{{ p.courtHearing }}</td>
    <td>{{ p.cellNumber }}</td>
    <td>
      <button
        class="btn btn-danger"
        style="color: black"
        (click)="deletePrisoner(p.pid)"
      >
        DELETE
      </button>
      &nbsp;&nbsp;
      <button class="btn btn-info" (click)="editPrisoner(p.pid)">EDIT</button>
    </td>
  </tr>
</table>
{{ message.message }}
<button class="btn btn-info btn-sm" (click)="back()">Back</button>
