
<nav class="navbar navbar-expand-lg navbar-light bg-light"></nav>
<a class="navbar-brand" href="#">
    <img src="https://ggscore.com/media/logo/t33950.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Bureaucrat Defended Entity
  </a>


<a class="navbar-brand" href="#" routerLink="">HOME</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a  routerLink="">HOME</a>
<a href="#" routerLink="login-admin">ADMIN</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="#" routerLink="login-manager">DataManger</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="#" routerLink="fir-all">FIR</a>&nbsp;&nbsp;&nbsp;&nbsp;

<router-outlet></router-outlet>