
  
      <nav class="navbar navbar-expand-lg navbar-light bg-secondary">

    <a class="navbar-brand" href="#" routerLink="">
        <img src="https://ggscore.com/media/logo/t33950.png" width="60" height="60" alt="">
    </a>

    <a class="navbar-brand" href="#" routerLink="">BEREAUCRAT DEFENDED ENTITY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" routerLink="">HOME <span class="sr-only">(current)</span></a>
            </li>&nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="login-admin">ADMIN</a>
            </li>&nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link" href="#">POLICE</a>
            </li>&nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link" href="#">DATA MANAGER</a>
            </li>&nbsp;&nbsp;
           <li class="nav-item">
                <a class="nav-link" href="#" routerLink="admin-prisoner-eachSearch">NOMINAL ROLLS</a>
            </li>&nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link" href="#">REPORT</a>
            </li>&nbsp;&nbsp;
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
<p style="margin-bottom: 450px;"></p>




 
 <div class="card-footer text-muted">
        <marquee><img src="https://ggscore.com/media/logo/t33950.png" width="40" height="40" alt="">BEREAUCRAT DEFENDED ENTITY</marquee>
      </div>