<h3 style="color: plum;"> In-Out Register-Data</h3>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">SI NO</th>
    <th scope="col">Date</th>
    <th scope="col">Name</th>
    <th scope="col">Department</th>
    <th scope="col">Purpose</th>
    <th scope="col">Time In</th>
    <th scope="col">Time Out</th>
    <th scope="col">Digital Signature</th>
  </tr>
  </thead>
  <tr *ngFor="let i of inout">
    <td scope="row">{{ i.siNo }}</td>
    <td scope="row">{{ i.date }}</td>
    <td scope="row">{{ i.name }}</td>
    <td scope="row">{{ i.dept }}</td>
    <td scope="row">{{ i.purpose }}</td>
    <td scope="row">{{ i.timeIn }}</td>
    <td scope="row">{{ i.timeOut }}</td>
    <td scope="row">{{ i.dsignature }}</td>
    <td>
     <button class="btn btn-secondary" (click)="editInOut(i.siNo)">EDIT</button>
    </td>
  </tr>
</table>
{{ message.message }}