<h3 style="color: plum;"> In-Out Register-Data</h3>

<table class="table">
  
  <tr>
    <th >SI NO</th>
    <th >Date</th>
    <th >Name</th>
    <th>Department</th>
    <th >Purpose</th>
    <th >Time In</th>
    <th >Time Out</th>
    <th >Digital Signature</th>
  </tr>
  
  <tr *ngFor="let i of inout">
    <td >{{i.siNo}}</td>
    <td>{{i.date}}</td>
    <td >{{i.name}}</td>
    <td >{{i.dept}}</td>
    <td >{{i.purpose}}</td>
    <td >{{i.timeIn}}</td>
    <td >{{i.timeOut}}</td>
    <td >{{i.dsignature}}</td>
    <td>
     <button class="btn btn-secondary" (click)="editInOut(i.siNo)">EDIT</button>
    </td>
  </tr>
</table>
{{ message.message }}
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>