<div>
  <h3>Duty-register Create</h3> 
  
  <form (ngSubmit)="createDutyRegister()"> 
      <div class="form-group">
  User Name : <input type="text" class="form-control"[(ngModel)]="datman.userName" name="userName"/>  
  Date : <input type="date"class="form-control" [(ngModel)]="datman.date" name="date"/>  
  Time On Duty : <input type="time"class="form-control" [(ngModel)]="datman.timeOnDuty" name="timeOnDuty"/>  
  Name : <input type="text" class="form-control" [(ngModel)]="datman.name" name="name"/>  
  Duty Point : <input type="text" class="form-control" [(ngModel)]="datman.dutyPoint" name="dutyPoint"/> 
  Time Off Duty : <input type="time" class="form-control" [(ngModel)]="datman.timeOffDuty" name="timeOffDuty"/>  <br>
  
  <input type="submit" class="btn btn-success" value="Register"/>
      </div>
  </form>
  {{message.message}} 
  <br>
  
  </div>