

<h3>prisoner Register</h3> 
<form (ngSubmit)="createPrisoner()"> 

    Prisoner ID : <input type="text" [(ngModel)]="pr.pid" name="pid"/>  <br>
    First Name : <input type="text" [(ngModel)]="pr.firstName" name="firstName"/>  <br>
    Last Name : <input type="text" [(ngModel)]="pr.lastName" name="name"/>  <br>
    Middle Name : <input type="text"  [(ngModel)]="pr.middleName" name="middleName"/>  <br>
    Date Of Birth : <input type="text"  [(ngModel)]="pr.dateOfBirth" name="dateOfBirth"/>  <br>
    Gender : <input type="text"  [(ngModel)]="pr.gender" name="gender"/>  <br>
    Age : <input type="text"  [(ngModel)]="pr.age" name="age"/>  <br>
    Address : <input type="text"  [(ngModel)]="pr.address" name="address"/>  <br>
    dateOfArrest : <input type="text"  [(ngModel)]="pr.dateOfArrest" name="dateOfArrest"/>  <br>
    crimeType : <input type="text"  [(ngModel)]="pr.crimeType" name="crimeType"/>  <br>
    eyeWitness : <input type="text"  [(ngModel)]="pr.eyeWitness" name="eyeWitness"/>  <br>
    witnessAddress : <input type="text"  [(ngModel)]="pr.witnessAddress" name="witnessAddress"/>  <br>
    complaintCount : <input type="text"  [(ngModel)]="pr.complaintCount" name="complaintCount"/>  <br>
    eyeColor : <input type="text"  [(ngModel)]="pr.eyeColor" name="eyeColor"/>  <br>
    hairColor : <input type="text"  [(ngModel)]="pr.hairColor" name="hairColor"/>  <br>
    faceShape : <input type="text"  [(ngModel)]="pr.faceShape" name="faceShape"/>  <br>
    remandDate : <input type="text"  [(ngModel)]="pr.remandDate" name="remandDate"/>  <br>
    releaseDate : <input type="text"  [(ngModel)]="pr.releaseDate" name="releaseDate"/>  <br>
    courtHearing : <input type="text"  [(ngModel)]="pr.courtHearing" name="courtHearing"/>  <br>

<input type="submit" value="Register"/> <br>
</form> 
{{message.message}} 
<button (click)="back()">Back</button>