<h3>ALL Pay Roll</h3>

<table border="2">
  <tr>
    <td><input type="button" value="UserName" (click)="onSortClickUm()"></td>
    <td><input type="button" value="PayRoll Id" (click)="onSortClickPd()"></td>
    <td><input type="button" value="Name" (click)="onSortClickNm()"></td>
    <td><input type="button" value="Regular Salary" (click)="onSortClickRs()"></td>
    <td><input type="button" value="Part Time Salary" (click)="onSortClickPs()"></td>
    <td><input type="button" value="Annual Salary" (click)="onSortClickAs()"></td>
    <td><input type="button" value="Operations"></td>
  </tr>
  <tr *ngFor="let p of datman">
    <td>{{ p.userName }}</td>
    <td>{{ p.pid}}</td>
    <td>{{ p.name}}</td>
    <td>{{ p.regularSalary }}</td>
    <td>{{ p.partTimeSalary }}</td>
    <td>{{ p.annualSalary }}</td>
    <td>
      <button class="btn btn-danger" style="color: black;"   (click)="deletePayRoll(p.userName)">
        DELETE
      </button>
      &nbsp;&nbsp;
      <button class="btn btn-info" (click)="editPayRoll(p.userName)">EDIT</button>
    </td>
  </tr>
</table>
{{ message.message }}