<div>
<h3>ALL Pay Roll</h3>
<div style="float: right; padding: 0%;margin-bottom: 10px;"><button  class="btn btn-outline-secondary" (click)="backtoadmin()">Back To Admin</button></div>

<table class="table table-sm">
  <tr class="table-success">
    <th scope="col"><input type="button" class="btn btn-outline-dark"value="UserName" (click)="onSortClickUm()"></th>
    <th scope="col"><input type="button" class="btn btn-outline-dark"value="PayRoll Id" (click)="onSortClickPd()"></th>
    <th scope="col"><input type="button" class="btn btn-outline-dark"value="Name" (click)="onSortClickNm()"></th>
    <th scope="col"><input type="button"class="btn btn-outline-dark" value="Regular Salary" (click)="onSortClickRs()"></th>
    <th scope="col"><input type="button" class="btn btn-outline-dark"value="Part Time Salary" (click)="onSortClickPs()"></th>
    <th scope="col"><input type="button"class="btn btn-outline-dark" value="Annual Salary" (click)="onSortClickAs()"></th>
    <th scope="col"><input type="button"class="btn btn-outline-dark-disable" value="Operations"></th>
  </tr>
  <tr *ngFor="let p of datman" class="table-warning">
    <td>{{ p.userName }}</td>
    <td>{{ p.pid}}</td>
    <td>{{ p.name}}</td>
    <td>{{ p.regularSalary }}</td>
    <td>{{ p.partTimeSalary }}</td>
    <td>{{ p.annualSalary }}</td>
    <td>
      <button class="btn btn-danger" style="color: black;"   (click)="deletePayRoll(p.userName)">
        DELETE
      </button>
      &nbsp;&nbsp;
      <button class="btn btn-info" (click)="editPayRoll(p.userName)">EDIT</button>
    </td>
  </tr>
</table>
{{ message.message }}
<br>
<button class="btn btn-info btn-sm" (click)="back()">Back</button>
</div>