<H2>Automated Release Register</H2>

<table border="1">
    <tr>
      <td>PrisonerId</td>
      <td>FirstName</td>
      <td>LastName</td>
      <td>MiddleName</td>
      <td>DateOfBirth</td>
      <td>Gender</td>
      <td>Age</td>
      <td>Address</td>
      <td>DateOfArrest</td>
      <td>Case Id</td>
      <td>CrimeType</td>
      <td>CourtHearing</td>
      <td>Cell Number</td>
      <td>ReleaseDate</td>
    </tr>
  
    <tr *ngFor="let p of pris">
      <td>{{ p.pid }}</td>
      <td>{{ p.firstName }}</td>
      <td>{{ p.lastName }}</td>
      <td>{{ p.middleName }}</td>
      <td>{{ p.dateOfBirth }}</td>
      <td>{{ p.gender }}</td>
      <td>{{ p.age }}</td>
      <td>{{ p.address }}</td>
      <td>{{ p.dateOfArrest }}</td>
      <td>{{ p.caseId }}</td>
      <td>{{ p.crimeType }}</td>
      <td>{{ p.courtHearing }}</td>
      <td>{{ p.cellNumber }}</td>
      <td>{{ p.releaseDate }}</td>
      </tr>
      </table>


