<pre><br><h3>       ALL Police</h3></pre>
<div class="container">
<table class="table table-hover">
  <tr>
    <th scope="col"><input type="button"class="btn btn-outline-secondary"value="UserName" (click)="onSortClickUs()"></th>
    <th scope="col"><input type="button"class="btn btn-outline-secondary"value="Password" (click)="onSortClickPs()"></th>
    <th scope="col"><input type="button"class="btn btn-outline-secondary"value="Id" (click)="onSortClickId()"></th>
    <th scope="col"><input type="button"class="btn btn-outline-secondary"value="Name" (click)="onSortClickNm()"></th>
    <th scope="col"><input type="button"class="btn btn-outline-secondary"value="Designation" (click)="onSortClickDs()"></th>
    <th scope="col"><input type="button"class="btn btn-outline-secondary"value="Hire date" (click)="onSortClickHd()"></th>
    <th scope="col"><input type="button"class="btn btn-outline-secondary"value="Email" (click)="onSortClickEm()"></th>
    <th scope="col"><input type="button"class="btn btn-outline-secondary"value="Address" (click)="onSortClickAd()"></th>
    <th scope="col"><input type="button"class="btn btn-outline-secondary"value="Operations"></th>
  </tr>
  <tr *ngFor="let p of police">
    <td>{{ p.userName }}</td>
    <td>{{ p.password}}</td>
    <td>{{ p.id}}</td>
    <td>{{ p.name}}</td>
    <td>{{ p.designation}}</td>
    <td>{{ p.hiredate}}</td>
    <td>{{ p.email }}</td>
    <td>{{ p.address }}</td>
    <td>
      <button class="btn btn-danger" style="color: black;"   (click)="deletePolice(p.userName)">
        DELETE
      </button>
      &nbsp;&nbsp;
      <button class="btn btn-info" (click)="editPolice(p.userName)">EDIT</button>
    </td>
  </tr>
</table>
{{ message.message }}
</div>