<div>
<br>
<h2>Prisoner Search Form </h2>
<div style="float: right; padding: 0%;margin-bottom: 10px;"><button  class="btn btn-outline-secondary" (click)="backtoadmin()">Back To Admin</button></div>
<br>
<input type="text" class="form-control" style="width: 400px;" placeholder="Search by Id,Name,Age,CaseId,CaseType,CellNo" [(ngModel)]="strUn"
 [(ngModel)]="strId" [(ngModel)]="strNm"  [(ngModel)]="strDe" [(ngModel)]="strAg" [(ngModel)]="strCt"  [(ngModel)]="strCn"
 [(ngModel)]="strCi" (click)="search()">&nbsp;&nbsp;
<button class="btn btn-info" (click)="search()" value="Search">
    Search
    <span class="spinner-grow spinner-grow-sm"></span>
  </button>
<br>
<br>
<div class="table-responsive">
<table class="table table-bordered">
    <tr>
        <th scope="col">PrisonerId</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">MiddleName</th>
        <th scope="col">DateOfBirth</th>
        <th scope="col">Gender</th>
        <th scope="col">Age</th>
        <th scope="col">Address</th>
        <th scope="col">DateOfArrest</th>
        <th scope="col">Case Id</th>
        <th scope="col">CrimeType</th>
        <th scope="col">EyeWitness</th>
        <th scope="col">WitnessAddress</th>
        <th scope="col">ComplaintCount</th>
        <th scope="col">EyeColor</th>
        <th scope="col">HairColor</th>
        <th scope="col">FaceShape</th>
        <th scope="col">RemandDate</th>
        <th scope="col">ReleaseDate</th>
        <th scope="col">CourtHearing</th>
        <th scope="col">Cell Number</th>
    </tr>
    <tr *ngFor="let p of police">
        <td>{{ p.pid }}</td>
        <td>{{ p.firstName }}</td>
        <td>{{ p.lastName }}</td>
        <td>{{ p.middleName }}</td>
        <td>{{ p.dateOfBirth }}</td>
        <td>{{ p.gender }}</td>
        <td>{{ p.age }}</td>
        <td>{{ p.address }}</td>
        <td>{{ p.dateOfArrest }}</td>
        <td>{{ p.caseId }}</td>
        <td>{{ p.crimeType }}</td>
        <td>{{ p.eyeWitness }}</td>
        <td>{{ p.witnessAddress }}</td>
        <td>{{ p.complaintCount }}</td>
        <td>{{ p.eyeColor }}</td>
        <td>{{ p.hairColor }}</td>
        <td>{{ p.faceShape }}</td>
        <td>{{ p.remandDate }}</td>
        <td>{{ p.releaseDate }}</td>
        <td>{{ p.courtHearing }}</td>
        <td>{{ p.cellNumber }}</td>
    </tr>
  
   </table>
</div>
</div>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>