<h3>ALL Data Manager</h3>

<table border="2">
  <tr>
    <td><input type="button"value="UserName" (click)="onSortClickUs()"></td>
    <td><input type="button"value="Password" (click)="onSortClickPs()"></td>
    <td><input type="button"value="Id" (click)="onSortClickId()"></td>
    <td><input type="button"value="Name" (click)="onSortClickNm()"></td>
    <td><input type="button"value="Designation" (click)="onSortClickDs()"></td>
    <td><input type="button"value="Hire date" (click)="onSortClickHd()"></td>
    <td><input type="button"value="Email" (click)="onSortClickEm()"></td>
    <td><input type="button"value="Address" (click)="onSortClickAd()"></td>
    <td><input type="button"value="Operations"></td>
  </tr>
  <tr *ngFor="let p of datman">
    <td>{{ p.userName }}</td>
    <td>{{ p.password}}</td>
    <td>{{ p.id}}</td>
    <td>{{ p.name}}</td>
    <td>{{ p.designation}}</td>
    <td>{{ p.hiredate}}</td>
    <td>{{ p.email }}</td>
    <td>{{ p.address }}</td>
    <td>
      <button class="btn btn-danger" style="color: black;"   (click)="deleteDataManager(p.userName)">
        DELETE
      </button>
      &nbsp;&nbsp;
      <button class="btn btn-info" (click)="editDataManager(p.userName)">EDIT</button>
    </td>
  </tr>
</table>
{{ message.message }}
