<div>
<h3>ALL Data Manager</h3>
<div style="float: right; padding: 0%;margin-bottom: 10px;"><button  class="btn btn-outline-secondary" (click)="backtoadmin()">Back To Admin</button></div>
<div class="container-fluid">
<div id="print-section">
  <table class="table table-sm">
    <tr class="table-primary">
      <th scope="col"><input type="button"class="btn btn-outline-light text-dark"value="User Name" (click)="onSortClickUs()"></th>
      <th scope="col"><input type="button"class="btn btn-outline-light text-dark"value="Password" (click)="onSortClickPs()"></th>
      <th scope="col"><input type="button"class="btn btn-outline-light text-dark"value="Id" (click)="onSortClickId()"></th>
      <th scope="col"><input type="button"class="btn btn-outline-light text-dark"value="Name" (click)="onSortClickNm()"></th>
      <th scope="col"><input type="button"class="btn btn-outline-light text-dark"value="Designation" (click)="onSortClickDs()"></th>
      <th scope="col"><input type="button"class="btn btn-outline-light text-dark"value="Hire date" (click)="onSortClickHd()"></th>
      <th scope="col"><input type="button"class="btn btn-outline-light text-dark"value="Email" (click)="onSortClickEm()"></th>
      <th scope="col"><input type="button"class="btn btn-outline-light text-dark"value="Address" (click)="onSortClickAd()"></th>
      <th scope="col"><input type="button"class="btn btn-outline-light text-dark-disable"value="Operations"></th>
  </tr>
  <tr *ngFor="let p of datman" class="table-active">
    <td>{{ p.userName }}</td>
    <td>{{ p.password}}</td>
    <td>{{ p.id}}</td>
    <td>{{ p.name}}</td>
    <td>{{ p.designation}}</td>
    <td>{{ p.hiredate}}</td>
    <td>{{ p.email }}</td>
    <td>{{ p.address }}</td>
    <td>
      <button class="btn btn-outline-danger" style="color: black;"   (click)="alertConfirmation(p.userName)">
        <i class="fa-solid fa-trash-can"></i>
      </button>
      &nbsp;&nbsp;
      <button class="btn btn-outline-info" (click)="editDataManager(p.userName)"><i class="fa-solid fa-pen"></i></button>
    </td>
  </tr>
</table>
</div>
{{ message.message }}
</div>
</div>
<button  class="btn btn-light"
	printTitle="Prisoner List"  
  [useExistingCss]="true"
	printSectionId="print-section"  
	ngxPrint style="margin-left: 600px;"><i class="fa-solid fa-print fa-3x"></i></button>