<div>
  <br>
  <h3> Update In-Out Register</h3> 
 
  <div class="form-group">
  <form (ngSubmit)="updateInOut()"> 
      <label> SI NO :</label>
      <input type="number"class="form-control" [(ngModel)]="inout.siNo" name="siNo"/>
      <label> Date : </label>
     <input type="date"class="form-control" [(ngModel)]="inout.date" name="date"/>
      <label>Name : </label>
      <input type="text"class="form-control" [(ngModel)]="inout.name" name="name"/> 
      <label> Department : </label>
     <input type="text" class="form-control" [(ngModel)]="inout.dept" name="dept"/> 
      <label>Purpose : </label>
      <input type="text" class="form-control" [(ngModel)]="inout.purpose" name="purpose"/> 
      <label>Time In : </label>
      <input type="time" class="form-control" [(ngModel)]="inout.timeIn" name="timeIn"/> 
      <label> Time Out : </label>
      <input type="time" class="form-control" [(ngModel)]="inout.timeOut" name="timeOut"/> 
      <label> Digital Signature :</label>
       <input type="text" class="form-control" [(ngModel)]="inout.dsignature" name="dsignature"/><br>
  
  <input type="submit" value="Update" class="btn btn-success"/> <br>
  </form> 
  <br>
  
  </div> 
  </div>