/* You can add global styles to this file, and also import other style files */

body{
    background-color: azure;
}
<<<<<<< HEAD
input.ng-invalid.ng-touched{
    border: 2px solid red;
}

input.ng-valid.ng-touched{
    border: 2px solid green;
}

.error{
    color:red;
}
=======
html, body, app-root {
    height: 100%;
    margin: 0;
  
    }
>>>>>>> e6c7478544ef9180e2954e081a9b25a682988571
