<h3 style="color: plum;">In-Out Register</h3> 
<form (ngSubmit)="createInOut()"> 
    <div class="form-group">
        <label>  SI NO </label>
       <input type="text" class="form-control" style="width: 40%;" [(ngModel)]="inout.siNo" name="siNo"/>
       </div>
       <div class="form-group">
        <label> Date </label>
       <input type="date" class="form-control" style="width: 40%;" [(ngModel)]="inout.date" name="date"/>
       </div>
       <div class="form-group">
        <label>Name  </label>
       <input type="text" class="form-control" style="width: 40%;" [(ngModel)]="inout.name" name="name"/>
       </div>
       <div class="form-group">
        <label> Department </label>
       <input type="text" class="form-control" style="width: 40%;" [(ngModel)]="inout.dept" name="dept"/>
       </div>
       <div class="form-group">
        <label>Purpose </label>
       <input type="text" class="form-control" style="width: 40%;" [(ngModel)]="inout.purpose" name="purpose"/>
       </div>
       <div class="form-group">
        <label>Time In </label>
       <input type="time" class="form-control" style="width: 40%;" [(ngModel)]="inout.timeIn" name="timeIn"/>
       </div>
       <div class="form-group">
        <label>Time Out  </label>
       <input type="time" class="form-control" style="width: 40%;" [(ngModel)]="inout.timeOut" name="timeOut"/>
       </div>
       <div class="form-group">
        <label>Digital Signature </label>
       <input type="time" class="form-control" style="width: 40%;" [(ngModel)]="inout.dsignature" name="dsignature"/>
       </div>
     
     
    

<input type="submit"  class="btn btn-primary" style="background-color: palevioletred;" value="Register"/> <br><br>
</form> 
{{message.message}} 
<!--<button (click)="back()">Back</button>-->
